{% extends 'loggedbase.html' %}
{% block title %}
Manage Project Items - {{schedule.name}} - {{project.receipt_number}}
{% endblock %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <b><a href="{% url 'projects:chart_report' %}" class="btn btn-link"><i class="fas fa-arrow-left"></i>
                Back</a></b>
        <div class="card">
            <div class="card-body p-0">
                {% for error in form.non_field_errors  %}
                <p class="text-danger text-center font-weight-bold mt-2">{{ error }}</p>
                {% endfor %}
                <form id="frm_edit_schedule" action="{% url 'projects:edit_schedule_info' %}" method="POST"
                    autocomplete="off" novalidate>
                    {% csrf_token %}
                    <div class="container mt-2 mb-2">
                        {{form.as_p}}
                        <input type="submit" name="submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}