{% extends 'loggedbase.html'%}

{% load crispy_forms_tags %}
{%block content%}


<div class="jumbotron" style="width: 500px; margin: 0 auto;">
<h1 id="loginh1">Register</h1>
<form method="POST" id="login" >
  {%csrf_token%}

  <fieldset class="form group">
  {{form|crispy}}
  </fieldset>
  
  <div class="form-group">
    <button type="submit" class="btn btn-outline-info">Sign Up</button>
  </div>
   <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
</form>
</div>
{%endblock%}